.about-para {
  margin: 1cm;
  padding: 1cm;
  left: 20%;
  direction: rtl;
  position: fixed;
  background: rgb(0 0 0 / 64%);
  color: white;
  text-align: center;
}
.about-para h1,
h3 {
  color: white;
}
