.btn-close {
  margin: auto;
  padding: 5px;
}
.desc-card {
  margin: auto;
  border: 3px black;
}
.meal-description {
  direction: rtl;
  text-align: right;
}
.desc-card:hover h3 {
  color: white !important;
}
.desc-card:hover h2 {
  color: white !important;
}
