.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #0a0a0a;
  border: 1px solid #d7d6d6;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 15px;
  font-weight: bold;
  margin: 0px 15px;
}

.form button:hover,
.form button:active {
  transition: 400ms;
  background-color: #ecedef;
  border-color: #c3c3c3;
  color: #0a0a0a;
}

input {
  background-color: rgba(18, 18, 18, 0.414);
}