.meal-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  color: #f9f2f2;
}

.meal-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #2e2c2c;
}

.meal-item a:hover,
.meal-item a:active {
  background: #d1d1d1;
  opacity: 0.8;
  transition: 0.5s;
}

.meal-item__content {
  border: 2px solid #9595a0;
  background: #7a7171e9;
}

.meal-item__image {
  width: 100%;
  height: 10rem;
  margin-right: 1rem;
  color: #f9f2f2;
}

.meal-item__details {
  margin: 5px;
  padding: 5px;
  background-color: rgba(13, 14, 14, 0.792);
  border-radius: 20px;
}

.meal-item__info {
  text-align: right;
}

.meal-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffffff;
  right: 100px;
}

.meal-item:hover h2,
.meal-item:active h2,
.meal-item:hover h3,
.meal-item:active h3 {
  color: #767776;
}

.meal-item__info h3 {
  margin: 0;
  color: #f9f2f2;
  left: 40px;
}
.meal-item__price {
  margin-right: 5%;
}

.ant-rate-star .ant-rate-star-full {
  font-size: 12;
}
