* {
  box-sizing: border-box;
}

.cat-list {
  transform: translateX(30%);
  position: fixed;
  overflow-y: scroll;
  height: 85%;
}

.cat-list::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
.cat-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cat-list::-webkit-scrollbar-thumb {
  background: #888;
}
.cat-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cat-list
  .ant-list
  .ant-spin-nested-loading
  .ant-spin-container
  .ant-list-items
  .ant-list-item {
  padding: 14.5px 17px !important;
}

.ant-list .ant-spin-container .ant-list-items .ant-spin-nested-loading {
  vertical-align: middle;
  column-count: 1;
}

.ant-list-item button {
  position: initial;
  border: #000000;
  border-radius: 7px;
  background-color: #303030;
  float: right;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  color: white;
  padding: 3px;
  width: 200px;
  height: auto;
  direction: rtl;
}

.deleteCategory {
  margin-right: 10%;
}

.delete-cat-btn {
  width: 10% !important;
}

.ant-list-item button:hover {
  background-color: white;
  color: #1d1d1e;
  transition: 0.5s;
  border: #f8f8f8;
}

h2 {
  text-align: center !important;
  width: auto;
}

.addCategory :hover {
  background-color: transparent !important;
  color: #bd1f2c !important;
  transition: 0.5s !important;
  border: #bd1f2c !important;
}

.addCategory {
  border: #bd1f2c !important;
  background-color: #bd1f2c !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: large !important;
  color: white !important;
  padding: 2% !important;
  margin: -5% !important;
  border: transparent !important;
  width: fit-content !important;
  direction: rtl !important;
  flex: 1 !important;
}
