.header {
  direction: rtl;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 50px;
  margin-bottom: 6%;
}

.deatils {
  display: flex;
  width: 63%;
  direction: rtl;
  margin: auto;
}

.deatils-btn {
  margin-left: 10%;
}

.my-profile {
  width: 95vh;
  background-color: rgba(0, 0, 0, 0.685);
  border: 1px solid black;
  border-radius: 4%;
  margin: auto;
  height: 50%;
}
