.card {
  background-color: rgba(12, 0, 0, 0.13);
  font-weight: bold;
}

.btn-add-meal-admin {
  margin: auto;
  display: flex;
}

.card-meal:hover h2 {
  color: white !important;
}
.card-meal:hover h3 {
  color: white !important;
}
